// Variables
@import "variables";

// Bootstrap
@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.full-height {
    min-height: 100vh;
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.content {
    position: relative;
    width: 500px;
    margin-top: 40px;
}

.logo {
    width: 420px;
    margin: 60px auto;
    display: block;
}

.svg-icon {
    font-size: 16px;
    color: hsl(199, 13%, 25%);
    line-height: 30px;
    display: inline-block;
}

.back {
    background: hsl(0, 0%, 87%);
    border-radius: 50%;
    color: hsl(207, 10%, 65%);
    cursor: pointer;
    display: inline-block;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    position: absolute;
    left: -60px;
    top: 15px;
    height: 40px;
    width: 40px;
    transition: color .6s;

    &:hover {
        color: hsl(207, 6%, 39%);
    }
}

.search-input {
    border: 1px solid hsl(0, 0%, 80%);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    outline: none;
    padding: 15px;
    width: 100%;
}

.suggestions {
    background: hsl(0, 0%, 100%);
    border: 1px solid hsl(0, 0%, 80%);
    border-top: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: pointer;
    max-height: 200px;
    overflow-x: scroll;
    position: absolute;
    width: 100%;

    .suggestion {
        border-bottom: 1px solid hsl(150, 3%, 87%);
        line-height: 40px;
        font-size: 20px;
        padding: 10px 15px;
        vertical-align: middle;

        &:last-child {
            border-bottom: none;
        }

        &:hover {
            background: hsl(176, 84%, 38%);
            color: hsl(0, 0%, 100%);
        }

        img {
            border-radius: 4px;
            margin-bottom: 3px;
            margin-right: 15px;
            height: 36px;
            width: 36px;
        }

        &.empty {
            background: hsl(0, 0%, 98%);
            color: hsl(0, 0%, 50%)
        }
    }
}

.agent-page, .patient-page {
    background: hsl(0, 0%, 100%);
    border-top: 5px solid hsl(176, 84%, 38%);
    border-radius: 5px;
    box-shadow: 0 10px 10px hsl(60, 4%, 89%);

    .agent-photo, .patient-photo {
        img {
            height: auto;
            width: 100%;
        }
    }

    .agent-details, .patient-details {
        border-top: 1px solid hsl(60, 4%, 91%);
        padding: 15px 10px;
    }

    .agent-name, .patient-name {
        font-size: 48px;
    }

    .agent-type, .patient-age {
        color: hsl(0, 0%, 46%);
        font-size: 24px;
        text-transform: uppercase;
    }
}
