<div class="flex-center position-ref full-height">
    <div class="content">
        <div class="panel panel-default panel-patient">
            <div class="panel-heading">Fiche Patient</div>
            <div class="panel-body">
                <div class="media">
                    <div class="media-left">
                        <img src="http://blog.oxforddictionaries.com/wp-content/uploads/granny-chic.jpg" alt="Granny" class="img-rounded" width="50px" height="50px">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Jeaninne</h3>
                        <small>82</small>, Malmedy
                    </div>
                </div>
            </div>
            <div class="list-group">
                <div class="list-group-item">
                    <strong>Jean</strong> a fait un <strong>massage des pieds</strong>.
                </div>
                <div class="list-group-item">
                    <strong>Jean</strong> a fait un <strong>massage des pieds</strong>.
                </div>
                <div class="list-group-item">
                    <strong>Jean</strong> a fait un <strong>massage des pieds</strong>.
                </div>
            </div>
            <div class="panel-footer">
                <a href="#" class="btn btn-link">Voir tout l'historique</a>
            </div>
        </div>
    </div>
</div>